
@{
    ViewBag.Title = "ErroneousGeolocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error in Geolocation</h2>

<p>There was an error while geolocating your device, so you have been logged off.</p>

