
@{
    ViewBag.Title = "SuccessfulSecurityLevelIncrease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Successful!</h2>

<p>Your Security Level was successfully increased. Your permissions will be granted the next time you log in, so you have been logged off. Please log in to make sure changes take effect.</p>