
@{
    ViewBag.Title = "ClosedGroups";
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}

<h2>Closed Groups</h2>

<table class="table table-bordered">
    <tr>
        <th>Group ID</th>
        <th>Group Title</th>
        <th>Details</th>
    </tr>

    @foreach (var group in Model.Groups)
    {
        <tr>
            <td>
                @group.GroupId
            </td>
            <td>
                @group.Title
            </td>
            <td>
                View Details
            </td>
        </tr>
    }
</table>
