@model GroupUp.ViewModels.ModeratorGroupsViewModel
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}

<h2>Groups</h2>

<table class="table table-bordered">
    <tr>
        <th>Group ID</th>
        <th>Group Title</th>
        <th>Status</th>
        <th>Details</th>
    </tr>

    @foreach (var group in Model.Groups)
    {
<tr>
    <td>
        @group.GroupId
    </td>
    <td>
        @group.Title
    </td>
    <td>
        @(group.IsClosed ? "Closed" : "Open")
    </td>
    <td>
        @Html.ActionLink("View Details", "GroupDetails", new { groupId = group.GroupId })
    </td>
</tr>
    }
</table>