@model GroupUp.ViewModels.GroupRatingViewModel
@{
    ViewBag.Title = "Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rate</h2>
<p>Please rate the following users between 0-10 according to how well of a group member they were.</p>
@using (Html.BeginForm("PostRating", "Groups", FormMethod.Post))
{
    @Html.ValidationSummary();
    foreach (var member in Model.UserRatings)
    {
        <div class="form-group">
            @Html.Label(member.Key)
            @Html.TextBoxFor(m => m.UserRatings[member.Key])
        </div>
    }
    @Html.HiddenFor(m => m.GroupId)
    <button class="btn btn-primary">Submit Rating</button>
}
