@model GroupUp.ViewModels.GroupRequestsViewModel
@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Group Requests</h2>

@if (Model.Groups.Count == 0)
{
    <p>There are currently no groups that you can join.</p>
}
else
{

}

